@use '../../../styles/theme-constants.scss' as theme;

.scale {
  opacity: 0;
  transform: scale(var(--scale, 0.8));
  transition:
    opacity var(--duration, theme.$duration-slower) theme.$ease-out,
    transform var(--duration, theme.$duration-slower) theme.$ease-out;
  transition-delay: var(--delay, 0s);
  will-change: opacity, transform;
}

.visible {
  opacity: 1;
  transform: scale(1);
}
